<!--
---
title: 'Weekly forecast of snow for ski areas in <%= h state %>'
description: 'Weekly forecast of snow for ski areas in <%= h state %>'
---
-->

<div class="text-sm breadcrumbs mb-4">
  <ul>
    <li><a href="/">All</a></li>
    <li><a href="/countries/<%= resorts.first.country_name.parameterize %>">
        <%= h resorts.first.country_name %>
      </a></li>
    <li>
      <%= h state %>
    </li>
  </ul>
</div>

<h2 class="text-3xl font-bold mb-4">Snowfall Prediction</h2>

<% headers, rows=table_for_resorts(resorts) %>
  <div class="overflow-x-auto">
    <table class="table w-full sticky">
      <!-- Table header -->
      <thead>
        <tr>
          <% headers.each do |header| %>
            <th>
              <%= h header %>
            </th>
            <% end %>
        </tr>
      </thead>
      <tbody>
        <% rows.each do |row| %>
          <tr>
            <% row.each do |cell| %>
              <td>
                <%= h cell %>
              </td>
              <% end %>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
