<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="description" content="<%= yield :description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Opengraph -->
  <meta property="og:title" content="<%= yield :title %>" />
  <meta property="og:description" content="<%= yield :description %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://followthesnow.today/" />
  <meta property="og:image" content="https://followthesnow.today/assets/logo.jpg" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picnic/7.1.0/picnic.min.css"
    integrity="sha512-HZgZOfcUw1rxWuEBlzDis5U4HlbzR0wcWmb3FrLSKV6uhZiZpT9JSTzPJplHDmJZJFNfAReW+iDELJ1kADYHtA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/main.css" />
  <title>
    followthesnow.today &raquo; <%= yield :title %>
  </title>
</head>
<body>
  <nav class="demo">
    <a href="/" class="brand">
        <span>Follow the Snow, Today</span>
    </a>

    <!-- responsive-->
    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button">&#8801;</label>

    <div class="menu">
      <a href="mailto:hello@followthesnow.today" class="pseudo button">Contact</a>
      <a href="/#locations" class="button">Locations</a>
    </div>
  </nav>
  <main class="content">
    <%= yield :content %>
    <p>
      (*) Machine Learning has determined that the resort may be closed.
    </p>
  </main>
  <footer>
    Made with ♥ in Colorado<br/>
    &copy; <%= Time.now.strftime("%Y") %> Follow the Snow
  </footer>
</body>
</html>