<!--
---
title: Regions by <%= country %>
description: List of regions by <%= country %>.
---
-->

<div class="text-sm breadcrumbs mb-4">
  <ul>
    <li><a href="/">All</a></li>
    <li>
      <%= h country %>
    </li>
  </ul>
</div>

<p>Please select a region to see the available resorts and snow forecast.</p>

<h2 class="text-2xl font-semibold mb-2" id="<%= country.parameterize %>">
  <%= h country %>
  <% if country_has_snow?(country) %>
    <%= snow_indicator %>
  <% end %>
</h2>
<ul class="list-disc pl-5 space-y-2">
  <% states(country: country).each do |state| %>
    <li class="flex items-center gap-2">
      <a href="/states/<%= state.parameterize %>" class="flex-grow">
        <%= h state %>
      </a>
      <% if state_has_snow?(state) %>
        <%= snow_indicator %>
      <% end %>
    </li>
    <% end %>
</ul>